body {
  margin: 0;
  font-family: "Lora", serif;
  text-align: center;
  overflow: hidden;
  line-height: 1.6;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(103, 101, 110);
  color: white;
}

.header-left-content-container a {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s, font-size 0.5s, text-decoration 0.5s;
}

.header-left-content-container a:hover {
  font-size: 30px;
  color: white;
}

.header-right-content-container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right-content-container nav a img {
  height: 50px;
  width: auto;
  color: white !important;
  margin-right: 10px;
}

.about-page-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
}

.code-block-container {
  padding: 20px;
  width: 70%;
}

.code-block {
  color: grey;
  background-color: #e9eaeb;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto;
  text-align: left;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 630px;
}

.code-block .pink {
  color: hotpink;
}

.code-block .blue {
  color: cornflowerblue;
}

.code-block .green {
  color: rgb(158, 201, 122);
}

.code-block .yellow {
  color: #e59d7b;
}
