body {
  margin: 0;
  font-family: "Lora", serif;
  text-align: center;
  background-color: #fcfbe8;
  color: #151318;
  min-width: 360px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a7072d;
  color: white;
}

.header-left-content-container a {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s, font-size 0.5s, text-decoration 0.5s;
}

.header-left-content-container a:hover {
  font-size: 30px;
  color: white;
}

.header-right-content-container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right-content-container nav a img {
  height: 40px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.blog-page-content-container {
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.main-content-container {
  padding: 20px;
  margin-top: 30px;
}

.main-content-container a {
  color: #a7072d;
}

.main-content-container a:hover {
  color: #e587a8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

footer p {
  color: #a7072d;
  margin-top: 50px;
}

@media screen and (max-width: 860px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-left-content-container,
  .header-right-content-container {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-left-content-container nav,
  .header-right-content-container nav {
    flex-wrap: wrap;
  }

  .header-left-content-container nav a {
    text-decoration: underline;
  }

  .header-right-content-container nav {
    justify-content: center;
  }
}
