body {
  margin: 10px;
  font-family: "Lora", serif;
  text-align: center;
  background-color: rgb(141, 217, 191, 0.05);
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-page-left-content-container {
  display: flex;
  width: 40%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.contact-page-left-content-circle-for-picture-container {
  max-width: 650px;
  max-height: 850px;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-page-left-content-circle-for-picture-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact-page-right-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the form is centered vertically */
  margin: 0;
  text-align: center;
  gap: 5px;
}

.back-to-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.back-to-home img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.back-to-home span {
  display: none;
  transition: display 0.5s ease;
}

.back-to-home:hover span {
  display: inline;
  color: rgb(141, 217, 191);
  size: 16px;
}

.header-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container nav a img {
  height: 40px;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.header-container nav a img:hover {
  height: 60px;
  width: auto;
}

.contact-page-right-content-container h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.contact-page-input-group {
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-page-input-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 15px;
}

.contact-page-input-group input[type="text"],
.contact-page-input-group input[type="email"],
.contact-page-input-group textarea,
.contact-page-input-group message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-page-input-group input[type="text"]:required,
.contact-page-input-group input[type="email"]:required,
.contact-page-input-group textarea:required,
.contact-page-input-group message:required {
  border: 1px solidrgb(99, 98, 98) 0;
}

.name-input-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  width: 100%;
  max-width: 424px;
  cursor: pointer;
  background-color: white;
  color: rgb(141, 217, 191);
  border: 1px solid rgb(141, 217, 191);
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.5s ease;
  font-family: "Merriweather", serif;
  margin: 10px 0;
}

button:hover {
  background-color: rgb(141, 217, 191);
  color: rgba(0, 0, 0, 0.616);
}

@media screen and (max-width: 993px) {
  .main {
    flex-direction: column;
    margin: 10px;
  }

  .contact-page-left-content-container {
    display: none;
  }

  .name-input-group {
    flex-direction: column;
  }

  #contact-form {
    width: 70%;
  }
}
