body {
  margin: 0;
  font-family: "Lora", serif;
  text-align: center;
  background-color: rgb(141, 217, 191, 0.1);
  overflow: hidden;
  line-height: 1.6;
}

main {
  display: flex;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  
}

.main-page-central-inner-container {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.main-page-left-container {
  flex: 1;
  width: 50%;
  overflow: hidden;
}

.main-page-left-image-container {
  height: 95%;
  justify-items: center;
}

.main-page-left-container img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  align-content: flex-end;
}

.main-page-right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page-right-content-container {
}

.main-page-right-container-title-container {
  margin: 40px;
  margin-top: 20%;
  margin-bottom: 0;
}

.main-page-right-container-title-full-name {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

.main-page-right-container-title-english-name {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.main-page-right-container nav ul {
  padding: 0;
}

.about-page-right-content-nav-container a {
  color: black;
  font-size: 40px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s, text-decoration 0.3s;
}

.about-page-right-content-nav-container a:hover {
  font-size: 50px;
  color: rgb(141, 217, 191);
}

/* .about-page-right-content-nav-container a:active,
.about-page-right-content-nav-container a:visited {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
} */

.about-page-right-content-nav-container p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-page-bottom-content-container {
  margin: 10px 0;
}

.main-page-bottom-content-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-page-bottom-content-container nav a img {
  height: 40px;
  width: auto;
  margin-top: 10px;
}

.main-page-bottom-content-container nav a img:hover {
  height: 55px;
}
