.page5-hugest-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.page5-left-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page5-left-content-single-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #0f2167;
  border-radius: 8px;
  padding: 20px;
  width: max-content;
}

.page5-left-content-single-area img {
  width: 30px;
  height: 30px;
}

.page5-right-content-container {
}

.name-input-group {
  display: flex;
  justify-content: space-between;
}
#contact-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.contact-page-input-group {
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-page-input-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 15px;
}

.contact-page-input-group input[type="text"],
.contact-page-input-group input[type="email"],
.contact-page-input-group textarea,
.contact-page-input-group message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-page-input-group input[type="text"]:required,
.contact-page-input-group input[type="email"]:required,
.contact-page-input-group textarea:required,
.contact-page-input-group message:required {
  border: 1px solid #3559e0;
}

.name-input-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  width: 100%;
  max-width: 424px;
  cursor: pointer;
  background-color: #fff6e9;
  color: #3559e0;
  border: 1px solid #3559e0;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.5s ease;
  font-family: "Merriweather", serif;
  margin: 10px 0;
}

button:hover {
  background-color: #4cb9e7;
  border: 1px solid #4cb9e7;
  color: white;
}

.page5-reset {
    color: grey;
    cursor: pointer;
}
